body {
background-color: #FF8000;
color: #fff;
font-family:arial,helvetica;
font-size:4em;
text-align: center;
overflow: hidden;
}
#main {
margin: 0px auto;
margin-top: 100px;
margin-bottom: 150px;
width: 75%;
text-align:center;
}
#moustache {
margin-top:50px;
width: 50%;
}
